<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4"
	xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee  
                 http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

	<display-name>Activiti REST</display-name>

	<listener>
		<listener-class>org.activiti.rest.common.servlet.ActivitiServletContextListener</listener-class>
	</listener>

	<!-- Restlet adapter -->
	<servlet>
		<servlet-name>RestletServlet</servlet-name>
		<servlet-class>org.restlet.ext.servlet.ServerServlet</servlet-class>
		<init-param>
			<!-- Application class name -->
			<param-name>org.restlet.application</param-name>
			<param-value>be.gcroes.thesis.docproc.servlet.CustomActivitiRestApplication</param-value>
		</init-param>
	</servlet>

	<!-- Catch all requests -->
	<servlet-mapping>
		<servlet-name>RestletServlet</servlet-name>
		<url-pattern>/service/*</url-pattern>
	</servlet-mapping>

	<security-constraint>
		<display-name>Security Constraint</display-name>
		<web-resource-collection>
			<web-resource-name>Protected Area</web-resource-name>
			<!-- Define the context-relative URL(s) to be protected -->
			<url-pattern>/</url-pattern>
			<!-- If you list http methods, only those methods are protected -->
		</web-resource-collection>
		<auth-constraint>
			<!-- Anyone with one of the listed roles may access this area -->
			<role-name>user</role-name>
			<role-name>premium</role-name>
			<role-name>admin</role-name>
		</auth-constraint>
	</security-constraint>

	<security-constraint>
		<web-resource-collection>
			<web-resource-name>Public</web-resource-name>
			<description>Matches a few special pages.</description>
			<url-pattern>/js/*</url-pattern>
			<url-pattern>/css/*</url-pattern>
		</web-resource-collection>
		<!-- No auth-constraint means everybody has access! -->
	</security-constraint>


	<!-- Default login configuration uses form-based authentication -->
	<login-config>
		<auth-method>FORM</auth-method>
		<realm-name>LDAP realm</realm-name>
		<form-login-config>
			<form-login-page>/login.html</form-login-page>
			<form-error-page>/error.html</form-error-page>
		</form-login-config>
	</login-config>

	<!-- Security roles referenced by this web application -->
	<security-role>
		<role-name>user</role-name>
	</security-role>
	<security-role>
		<role-name>premium</role-name>
	</security-role>
	<security-role>
		<role-name>admin</role-name>
	</security-role>

	<filter>
    <filter-name>LoginFilter</filter-name>
    <filter-class>
        be.gcroes.thesis.docproc.filter.LoginFilter
    </filter-class>
	</filter>
	<filter-mapping>
    <filter-name>LoginFilter</filter-name>
    	<url-pattern>/*</url-pattern>
	</filter-mapping>
</web-app>